.container {
    background-image: url(https://img.redbull.com/images/c_crop,x_0,y_379,h_1419,w_3547/c_fill,w_1920,h_768/q_auto,f_auto/redbullcom/2022/3/10/sscqsxo6qqz1ljnx5qc0/jon-devore-and-luke-aikins-jump-from-helicopter-at-kirby-chambliss-ranch);
}

.navbar {
    background-color: $backgroundnav;
}